<% if @end == 0 and @start == 0 %>
  <h3>Passwords Never Changed</h3>
<% elsif @end == 0  %>
  <h3>Passwords Last Changed More than <%= @start %> Days Ago</h3>
<% else %>
  <h3>Passwords Last Changed Between <%= @start %> and <%= @end %> Days Ago</h3>
<% end %>
<div>
  <%
    @zero_to_30 = @allusers.reject { |a| a.last_password_change_gmt.nil? or a.last_password_change_gmt < 30.days.ago }.count
    @thirty_to_90 = @allusers.reject { |a| a.last_password_change_gmt.nil? or a.last_password_change_gmt > 30.days.ago  or  a.last_password_change_gmt < 90.days.ago }.count  
    @ninety_to_180 = @allusers.reject { |a| a.last_password_change_gmt.nil? or a.last_password_change_gmt > 90.days.ago  or  a.last_password_change_gmt < 180.days.ago }.count 
    @more_than_180 = @allusers.reject { |a| a.last_password_change_gmt.nil? or a.last_password_change_gmt > 180.days.ago  }.count 
    @never_changed = @allusers.reject { |a| ! a.last_password_change_gmt.nil? }.count    
  %>
  <ul>
    <li><%= link_to "0 to 30 Days (" + @zero_to_30.to_s + ")", password_change_audit_path(start: "0", end: "30") %></li>
    <li><%= link_to "30 to 90 Days (" + @thirty_to_90.to_s + ")", password_change_audit_path(start: "30", end: "90") %></li>
    <li><%= link_to "90 to 180 Days (" + @ninety_to_180.to_s + ")", password_change_audit_path(start: "90", end: "180") %></li>
    <li><%= link_to "More than 180 Days (" + @more_than_180.to_s + ")", password_change_audit_path(start: "180", end: "") %></li>
    <li><%= link_to "Never Changed (" + @never_changed.to_s + ")", password_change_audit_path(start: "", end: "") %></li>

  </ul>
</div>  
<hr />

<div><h4>Total: <%= @users.count %> Users</h4></div>
<div class="table-paginate"><%= will_paginate @users, :next_label => 'Next', :previous_label => 'Previous' %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Full Name</th>
      <th>Last Password Change Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.full_name %></td>
        <td><%= user.last_password_change_gmt %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      user_path(user), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              roles_path, :class => 'btn'  %>
</div>
